<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/styles.css?q=$q$">
</head>
<body>
<div class="container">
<div id="layout" class="row">
  <div class="col-md-1"></div>
  <div id="container" class="col-md-10">
    <div class="row">
      <div class="header">
        <img src="https://vectr.com/fbjorn/eaGZqUPb61.png" height="55px" width="55px">
        <h1>Spaced Repetition Bot Statistics</h1>
      </div>
      <hr/>
    </div>
    <div class="row words-list">
      <div id="statsgrid">
          <div id="grid-search"><i class="material-icons">search</i><input name="query" v-model="searchQuery" class="form-control"></div>
        <stats-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery"
          :titles="gridTitles">
        </stats-grid>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="/static/vue.js"></script>
<script type="text/javascript">CHAT_ID=$chat_id$</script>
<script type="text/x-template" id="grid-template">
  <div>
    <div id="sort_buttons">
    <i class="material-icons">&#xE164;</i>
      <button v-for="key in columns" @click="sortBy(key)">{{titles[key]}} </button>
    </div>
    <table class="table-scalable">
      <tr>
        <th v-for="key in columns" @click="sortBy(key)">{{titles[key]}}</th>
      </tr>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns" :data-th=titles[key]>
            <span v-if="key=='status'">
              <span v-if="entry[key]=='active'" class="status-active">{{entry[key]}}</span>
              <span v-if="entry[key]=='done'" class="status-done">{{entry[key]}}</span>
              <span v-if="entry[key]=='waiting'" class="status-waiting">{{entry[key]}}</span>
            </span>
            <span v-else-if="key=='sdate'">{{entry[key]|strftime}}</span>
            <span v-else-if="key=='ndate'">{{entry[key]|strftime}}</span>
            <span v-else>{{entry[key]}}</span>
          </td>
        </tr>
    </table>
  </div>
</script>
<script type="text/javascript" src="/static/app.js?q=$q$"></script>
</body>
</html>
