# path to sqlite database file
database_name: 'tasks.db'

# telegram bot token
bot_token: '#@87yh287cb2y0uwqe-0'

# list of time periods for updating notification dates
# pattern: [0-9]+[smhdw]
# combined values are supported as well: 1w2d, 1h30m
time_intervals: [5m, 10m, 2h, 1d, 2d5h]
